.changeStyleHeader{
    background-color: blue;
    text-alimg: center;
}

.changeStyleMain{
    background-color: blueviolet;
}
.changeStyleFooter{
    background-color: brown;
}

.fotoDog{
    text-align: center;
}
.boxImgDog{
    text-align: center;
}